@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
}
.skip-to-content {
  position: absolute;
  transform: translateY(-150%);
  transition: transform 150ms ease-in;
}
.skip-to-content:focus {
  transform: translateY(0);
}
