@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
}
.skip-to-content {
  position: absolute;
  transform: translateY(-150%);
  transition: transform 150ms ease-in;
}
.skip-to-content:focus {
  transform: translateY(0);
}

.custom-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
  padding: 0.5rem 1.5rem;
  text-align: center;
}
